@import "normalize.css"

blanco = rgb(255,255,255)
gris_boton = rgb(150,150,150)
negro = rgb(0,0,0)

h1
p
figure
	margin 0
	padding 0

body
	font-size 16px

footer
	border-top 1px solid gris_boton
	padding .5em 0 0 0
	p.piedepagina
		font-size .8em

header
	border-bottom 1px solid gris_boton
	overflow hidden
	padding .5em 0
	figure
		float left
		margin .5em 1em 0 .5em
		img
			width 100px
	h1
		margin 1em 0 0 0

section
	padding 1em 0
	text-align center
	form
		input
			border 1px solid gris_boton
			border-radius 5px
			margin 0 0 1em 0
			padding .5em 1em
			text-align center
			width 70%
			&[type="submit"]
				border 0
				width 60%
	h2
		margin 1em 0 2em 0