@import "normalize.css"

azulmwp = rgb(21,34,79)
blanco = rgb(255,255,255)
gris_boton = rgb(150,150,150)
negro = rgb(0,0,0)

figure
h1
p
	margin 0
	padding 0

body
	font-size 16px

footer
	border-top 1px solid gris_boton
	padding .5em 0
	p
		font-size .8em
		margin 0 0 0 1em

header
	border-bottom 1px solid gris_boton
	overflow hidden
	padding .5em 0
	figure
		float left
		margin .5em 1em 0 .5em
		img
			width 100px
	h1
		margin 1em 0 0 0

nav
	ul
		list-style none
		padding 0
		li
			background azulmwp
			border-bottom 1px solid blanco
			display block
			text-align center
			&.menumovil
				background blanco
				border-bottom 1px solid azulmwp
				border-top 1px solid azulmwp
				a
					img
						width 20px
			&.menunormal
				display none
			a
				color blanco
				display block
				padding 5px 0
				text-decoration none
				text-transform uppercase
				&:hover
					background blanco
					border-bottom 1px solid azulmwp
					color azulmwp
					cursor pointer

section
	color azulmwp
	padding .5em 0 2em 0
	text-align center

.registro
	form
		input
		select
		textarea
			border 1px solid gris_boton
			border-radius 5px
			display block
			margin 0 auto .5em auto
			padding .5em 1em
			text-align center
			width 70%
		select
			width 78%
		textarea
			text-align left
	h2
		margin 0 0 1em 0
	hr
		margin .5em 0 1em 0

@media screen and (min-width: 768px)
	nav
		ul
			background azulmwp
			margin 0
			text-align center
			li
				background none
				border 0
				margin 0
				&.menumovil
					border 0
					display none
				&.menunormal
					display inline-block
				a
					display block
					margin 0
					padding .5em 1.5em
					&:hover
						border 0
				